@charset "utf-8";
/* CSS Document */


#home .container{min-width:110px; max-width:1916px; height:auto; margin:0px auto; padding:0px auto;  xbackground-color:#F60; }
#home #header #navigator_frame #navigator_inner .drawer #nav {
	font-weight: bold;
}
.coming {
	color: #C30;
	font-family: Georgia, "Times New Roman", Times, serif;
}
